body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.btn-tire-width {
  z-index: 1000;
  position: relative;
  top: 40px;
  left: -14px;
}

.btn-load-on-wheel {
  z-index: 1000;
  position: relative;
  top: 210px;
  left: -80px;
}

.btn-tread-thickness {
  z-index: 1000;
  position: relative;
  top: 413px;
  left: 50px;
}

.btn-compression-module {
  z-index: 1000;
  position: relative;
  top: 100px;
  left: 186px;
}

.btn-outside-radius {
  z-index: 1000;
  position: relative;
  top: 323px;
  left: -50px;
}